name: CD Heroku

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ development ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Build with Maven
        run: HEROKU_API_KEY="${{secrets.heroku_api_key}}" mvn heroku:deploy
