# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Build with Maven
      run: mvn -B package --file pom.xml

  merge:
      needs: build
      runs-on: ubuntu-latest

      steps:
      - name: Merge development -> main
        uses: devmasx/merge-branch@v1.3.1
        with:
          type: now
          from_branch: development
          target_branch: main
          github_token: ${{ github.token }}

#name: Setup Node.js environment
#  uses: actions/setup-node@v2.1.4
#  with:
    # Set always-auth in npmrc
#    always-auth: # optional, default is false
    # Version Spec of the version to use.  Examples: 12.x, 10.15.1, >=10.15.0
#    node-version: # optional
    # Target architecture for Node to use. Examples: x86, x64. Will use system architecture by default.
#    architecture: # optional
    # Set this option if you want the action to check for the latest available version that satisfies the version spec
#    check-latest: # optional
    # Optional registry to set up for auth. Will set the registry in a project level .npmrc and .yarnrc file, and set up auth to read in from env.NODE_AUTH_TOKEN
#    registry-url: # optional
    # Optional scope for authenticating against scoped registries
#    scope: # optional
    # Used to pull node distributions from node-versions.  Since there's a default, this is typically not supplied by the user.
#    token: # optional, default is ${{ github.token }}
    # Deprecated. Use node-version instead. Will not be supported after October 1, 2019
#    version: # optional


